@page "/0101aHelloWorld"

<!-- <PageTitle>Hello World</PageTitle> -->   
<h1>Hello world</h1>

<br />
<pre>@message</pre>
  
@code {
    private string message = "Miki Maus";

    protected override async Task OnInitializedAsync()

    {
            int i = 42;
            i = 142;
            message = "" + i;
    }
}
